.container {
  padding: 61px;
  form {
    background-color: rgb(46, 42, 37);

    input {
      padding: 0.5em;
      border-radius: 5px;
      outline: none;
      border: none;
    }
    button {
      width: 6em;
    }
  }
}
